.user-info {
    position: absolute;
    display: inline-block;
    margin: 10px;
    width: calc(100% - 100px);
    height: 100%;
    background: #f9f9f9;
    overflow-y: auto;
    padding-bottom: 70px;
}

.user-info .panel {
    margin: 5%;
    -webkit-box-shadow: 0px 0px 20px 0px #888;
            box-shadow: 0px 0px 20px 0px #888;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.user-header {
    padding: 10px;
    text-align: center;
}

.info-body {
    width: 95%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-avatar {
    width: 100px;
    height: 100px;
}

.edit-user-header {
    padding: 10px;
}

.edit-info-header {
    width: 92%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.edit-info-header-bottom {
    margin-top: 20px;
}

.edit-info-image {
    width: 100%;
}

.file-selector {
    width: calc(100%-200px);
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}

.upload-file-btn {
    margin-top: 10px;
}

@media (max-width: 540px) {
    
    .user-info {
        width: 100%;
    }
}