<div class="animagens-container">
    <img class="background-banner" src="images/background5.jpg" [@backgroundState]='in' />
    <div class="container" [@postState]='in'>
        <div *ngFor="let blog of blogs; let i = index" class="row">
            <div *ngIf="i == 0 && user?.perms.writeBlog" class="post col-sm-2">
                <a class="btn btn-lg background-blue" routerLink="/inicio-creacion">
                    <i class="fa fa-plus content-white"></i>
                </a>
            </div>
            <div class="post col-sm-{{i == 0 && user?.perms.writeBlog ? 10 : 12}}">
                <div class="post-pre-header">
                    <img src="{{users[blog.user_id]?.image}}" />
                    <span>{{users[blog.user_id]?.alias}} · {{blog.created_at | date: 'dd/MM/yyyy - HH:mm:ss'}}</span>
                    <span *ngIf="user?._id == blog.user_id || user?.perms.isAdmin" class="pull-right">
                        <a [routerLink]="['/inicio-edicion', {id:blog._id}]">Editar</a>
                    </span>
                </div>
                <div class="post-header">
                    <img src="{{blog.image}}" />
                    <h1>{{blog.title}}</h1>
                </div>
                <div class="post-body" [innerHTML]="blog.content"></div>
            </div>
        </div>
    </div>
</div>
    