<div class="animagens-container">
    <img class="background-banner" src="images/background5.jpg" [@backgroundState]='in' />
    <div class="container" [@postState]='in'>
        <div class="row">
            <div class="post col-sm-12">
                <form (ngSubmit)="onSubmit()">
                    <div class="post-header">
                        <div class="edit-info-image">
                            <div class="file-selector">
                                <input type="file" 
                                    [ng-file-select]="options"
                                    (onUpload)="handleUpload($event)">
                            </div>
                            <img class="avatar" src="{{model.image}}" />
                        </div>
                        <input [(ngModel)]="model.title" name="title" type="text" class="edit-title form-control" placeholder="Titulo" />
                    </div>
                    <div class="post-body">
                        <ckeditor [(ngModel)]="model.content" name="content" [config]="{uiColor: '#99000'}"></ckeditor>
                        <button type="submit" class="btn-submit btn btn-default background-blue content-white pull-right">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    