.background-banner {
    left: 0px;
    top: 77px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.post {
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border: 1px solid #ccccca;
    margin-bottom: 50px;
}

.post-pre-header {
    text-align: left;
    color: grey;
}

.post-pre-header img {
    width: 30px;
    height: 30px;
    border-radius: 15%;
}

.post-header {
    margin-top: 20px;
    border-bottom: 1px solid #ccccca;
    margin-bottom: 10px;
}

.post-header img {
    width: 70%;
}

.post-body {
    color: grey;
    text-align: justify;
}