<div class="animagens-container">
    <img class="background-banner" src="images/background5.jpg" [@backgroundState]='in' />
    <div class="container" [@postState]='in'>
        <div class="row">
            <div [hidden]="!successful" class="post col-sm-12">
                <div class="post-header">
                    <h1>¡Bienvenido!</h1>
                </div>
                <div class="post-body">
                    <p>En breves te llegará un correo electrónico con los últimos detalles para que puedas unirte a nosotros en esta fantástica aventura.</p>
                </div>
            </div>
            <div [hidden]="successful" class="post col-sm-12">
                <div class="post-header">
                    <h1>Registro</h1>
                </div>
                <div class="post-body">
                    <div *ngIf="error" class="alert alert-{{error.type}}" role="alert">
                        <strong>¡Atención!</strong> {{error.msg}}
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="nickname">Nombre de usuario (Solo letras, números o guiones, sin espacios)</label>
                                <input [(ngModel)]="model.nickname" name="nickname" type="text" class="form-control" required minlength="5" maxlength="23" pattern="[A-Za-z0-9_-ñÑçÇ]*">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="alias">Alias</label>
                                <input [(ngModel)]="model.alias" name="alias" type="text" class="form-control" required minlength="5" maxlength="30">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="email">Correo electrónico</label>
                                <input [(ngModel)]="model.email" name="email" type="email" class="form-control" required maxlength="200">
                            </div>      
                            <div class="form-group col-sm-6">
                                <label for="rep_email">Repetir correo electrónico</label>
                                <input [(ngModel)]="model.rep_email" name="rep-email" type="email" class="form-control" required maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="password">Password</label>
                                <input [(ngModel)]="model.password" name="password" type="password" class="form-control" required minlength="5" maxlength="40">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="rep_password">Repetir Password</label>
                                <input [(ngModel)]="model.rep_password" name="rep-password" type="password" class="form-control" required minlength="5" maxlength="40">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="birth">Fecha de Nacimiento</label>
                                <input [(ngModel)]="model.birth" name="birth" type="date" class="form-control" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="gender">Género</label>
                                <select [(ngModel)]="model.gender" name="gender" class="form-control">
                                    <option *ngFor="let o of genderOptions" value={{o.value}} [selected]="o.value == 'unknown'">{{o.name}}</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div><input type="checkbox" required /><label> - Acepto los <a href="/terms" target="_blank">términos y condiciones</a></label></div>
                        <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" [site_key]="'6LcwSxITAAAAAJLejdMDp1hhnQtrK3C92W5_1fuj'"></re-captcha>
                        <div class="pull-right"><button [disabled]="" type="submit" class="btn btn-default background-blue content-white pull-right">¡Únete!</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="!submitted || successful" class="loading-img">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>
