<nav class="navbar navbar-default" [@navbarState]='in'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
          <img routerLink="/" src="/images/favicon.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngFor="let menu of menuItems" class="nav-{{menu.color}}">
            <a routerLink="{{menu.link}}" routerLinkActive="active"><i class="unselectable fa fa-{{menu.icon}}"></i>  {{menu.title}}</a>
        </li>
        <!--<li class="active nav-blue"><a href="#"><i class="fa fa-home"></i>  Inicio</a></li>
        <li class="nav-cyan"><a [routerLink]="['/Forum']"><i class="fa fa-beer"></i>  Foro</a></li>
        <li class="nav-green"><a href="#"><i class="fa fa-users"></i>  El sillón</a></li>
        <li class="nav-grass"><a href="#"><i class="fa fa-user-secret"></i>  De incógnito</a></li>
        <li class="nav-gold"><a href="#"><i class="fa fa-shopping-cart"></i>  Tienda</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--<li>
          <a href="#">
            <div class="nav-right-btn content-{{pageColor}}">
              <i class="fa fa-search fa-2x"></i>
            </div>
          </a>
        </li>-->
        <li *ngIf="user">
          <a routerLink="/chat">
            <div class="nav-right-btn content-{{pageColor}}">
              <i class="fa fa-comment fa-2x"></i>
              <i *ngIf="pendingMessages > 0" class="chat-count">{{pendingMessages}}</i>
            </div>
          </a>
        </li>
        <!--<li *ngIf="user">
          <a href="#">
            <div class="nav-right-btn content-{{pageColor}}">
              <i class="fa fa-bell fa-2x"></i>
              <i class="notification-count">10</i>
            </div>
          </a>
        </li>-->
        <li *ngIf="!user" class="dropdown">
          <a routerLink="/entrar">Entrar</a>
        </li>
        <li *ngIf="!user" class="dropdown">
          <a routerLink="/registro">Registrarse</a>
        </li>
        <li *ngIf="user" class="dropdown">
          <a href="#" class="profile-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="border-{{colors[myChatUser?.status]}}" src="{{user.image}}" /></a>
          <ul class="dropdown-menu">
            <li><a (click)="openStatusModal()">Estado</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()">Desconectar</a></li>
          </ul>
          <div class="lvl-current content-white background-{{pageColor}}">{{user?.level}}</div>
          <div *ngIf="user" class="progress lvl-progress">
            <div class="progress-bar background-{{pageColor}}" role="progressbar" [style.width]="user.exp / (user.level * 100) * 100 + '%'"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>