.navbar-brand img {
    height: 100%;
    color: deepskyblue;
}

.navbar-brand{
    height: 75px;
}


.navbar-nav > li {
    margin-right: 10px;
}

.navbar-nav > li > a {
    padding-top:25px; 
    padding-bottom:0 !important;
    height: 75px;
}

.navbar {
    min-height: 75px !important;
    background-color: white;
    margin-bottom: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.open {
    background-color: white !important;
}

.profile-btn img {
    height: 65px;
    width: 65px;
    border-radius: 15%;
}

.profile-btn {
      padding: 0px !important;
      padding-top: 5px !important;
  }

.navbar-right {
  margin-left: 30px;
}

.lvl-progress {
  position: absolute;
  height: 8px;
  width: 56px;
  right: 4px;
  top: 64px;
}

.lvl-current {
  cursor: pointer;
  position: absolute;
  height: 20px;
  width: 20px;
  right: -10px;
  top: 0px;
  background-color: white;
  border-radius: 50%;
}

.notification-count {
  position: absolute;
  top: 47px;
  right: 5px;
}

.chat-count {
  position: absolute;
  top: 47px;
  right: 5px;
}

/* NAV BLUE */
.nav-blue {
  border-top: solid 4px rgba(40, 129, 187, 1);
}

.nav-blue a {
  background-color: white;
}

.nav-blue a:hover {
  background-color: white;
  color: rgba(40, 129, 187, 1) !important;
}

.nav-blue a.active {
    color: rgba(40, 129, 187, 1) !important;
    font-weight: bold;
}

/* NAV CYAN */
.nav-cyan {
  border-top: solid 4px #0799d7;
}

.nav-cyan a {
  background-color: white;
}

.nav-cyan a:hover {
  background-color: white;
  color: #0799d7 !important;
}

.nav-cyan a.active {
    color: #0799d7 !important;
    font-weight: bold;
}

/* NAV GREEN */
.nav-green {
  border-top: solid 4px #a5de37;
}

.nav-green a {
  background-color: white;
}

.nav-green a:hover {
  background-color: white;
  color: #a5de37 !important;
}

.nav-green a.active {
    color: #a5de37 !important;
    font-weight: bold;
}

/* NAV GRASS */
.nav-grass {
  border-top: solid 4px #6fc387;
}

.nav-grass a {
  background-color: white;
}

.nav-grass a:hover {
  background-color: white;
  color: #6fc387 !important;
}

.nav-grass a.active {
    color: #6fc387 !important;
    font-weight: bold;
}

/* NAV GOLD */
.nav-gold {
  border-top: solid 4px #f0c514;
}

.nav-gold a {
  background-color: white;
}

.nav-gold a:hover {
  background-color: white;
  color: #f0c514 !important;
}

.nav-gold a.active {
    color: #f0c514 !important;
    font-weight: bold;
}

@media (max-width: 767px) { /* Change this to 0 */
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}