body {
  font: 20px/1.5 'Ubuntu', sans-serif;
  background-color: white;
  text-align: center;
  margin: 0;
}

.animagens-btn {
  width: 50px;
  height: 50px;
}

a {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.loading-img {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  top: 80px;
  left: 0px;
  width: 100%;
  height: calc(100% - 80px);
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 10%;
}

.loading-img img {
  width: 50%;
}

.messages-box img {
    width: 100%;
}

.ng-valid[required] {
  border-left: 5px solid #42A948 !important; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442 !important; /* red */
}

/* BLUE */
.thin-border-blue {
  border: solid 1px rgba(40, 129, 187, 1) !important;
}

.border-blue {
  border: solid 2px rgba(40, 129, 187, 1) !important;
}

.content-blue {
  color: rgba(40, 129, 187, 1) !important;
}

.background-blue {
  background-color: rgba(40, 129, 187, 1) !important;
}

/* CYAN */
.thin-border-cyan {
  border: solid 1px #0799d7 !important;
}

.border-cyan {
  border: solid 2px #0799d7 !important;
}

.content-cyan {
  color: #0799d7 !important;
}

.background-cyan {
  background-color: #0799d7 !important;
}

/* GREEN */
.thin-border-green {
  border: solid 1px #a5de37 !important;
}

.border-green {
  border: solid 2px #a5de37 !important;
}

.content-green {
  color: #a5de37 !important;
}

.background-green {
  background-color: #a5de37 !important;
}

/* GRASS */
.thin-border-grass {
  border: solid 1px #6fc387 !important;
}

.border-grass {
  border: solid 2px #6fc387 !important;
}

.content-grass {
  color: #6fc387 !important;
}

.background-grass {
  background-color: #6fc387 !important;
}

/* GOLD */
.thin-border-gold {
  border: solid 1px #f0c514 !important;
}

.border-gold {
  border: solid 2px #f0c514 !important;
}

.content-gold {
  color: #f0c514 !important;
}

.background-gold {
  background-color: #f0c514 !important;
}

/* GREY */
.thin-border-grey {
  border: solid 2px grey !important;
}

.border-grey {
  border: solid 2px grey !important;
}

.content-grey {
  color: grey !important;
}

.background-grey {
  background-color: grey !important;
}

/* WHITE */
.thin-border-white {
  border: solid 2px white !important;
}

.border-white {
  border: solid 2px white !important;
}

.content-white {
  color: white !important;
}

.background-white {
  background-color: white !important;
}

/* RED */
.thin-border-red {
  border: solid 1px #e84c3d !important;
}

.border-red {
  border: solid 2px #e84c3d !important;
}

.content-red {
  color: #e84c3d !important;
}

.background-red {
  background-color: #e84c3d !important;
}