<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="conversations-list">
                <div *ngFor="let c of conversations; let i = index" class="conversation-bubble" (click)="selectConversation(i)" title="{{c.type == 'user' ? users[c.data._id]?.alias : c.data.name}}" [class.active]="c.active">
                    <img *ngIf="c.type == 'user'" src="{{users[c.data._id]?.image}}" />
                    <img *ngIf="c.type == 'room'" src="{{c.data.image}}" />
                    <div *ngIf="c.type == 'user'" class="big-status-ball ball-{{chatUsers[c.data._id] ? chatUsers[c.data._id].status : 'disconnected'}}"></div>
                    <div class="cover"></div>
                </div>
            </div>
            <div *ngIf="activeConversation" class="active-conversation">
                <div *ngIf="activeConversation.type == 'user'" class="active-conversation-header background-cyan content-white">
                    <h3>{{users[activeConversation?.data._id]?.alias}}</h3>
                    <small>{{users[activeConversation?.data._id]?.nickname}}</small>
                    <div class="header-actions noselect pull-left">
                        <div *ngIf="activeConversation.type == 'user'" class="fav-icon" title="Hacer Favorito" (click)="makeStarred()">
                            <span class="fa fa-2x fa-star{{starreds.indexOf(activeConversation.data._id) < 0 ? '-o' : ''}}"></span>
                        </div>
                    </div>
                    <div class="header-closing pull-right">
                        <button type="button" class="close" aria-label="Close" (click)="closeConversation()">
                            <span aria-hidden="true"> &times;</span>
                        </button>
                    </div>
                </div>
                <div *ngIf="activeConversation.type == 'room'" class="active-conversation-header background-blue content-white">
                    <h3>{{activeConversation?.data.name}}</h3>
                    <small>creada por {{users[activeConversation?.data.user_id]?.nickname}}</small>
                    <div class="header-closing pull-right">
                        <button type="button" class="close" aria-label="Close" (click)="closeConversation()">
                            <span aria-hidden="true"> &times;</span>
                        </button>
                    </div>
                </div>
                <div class="messages-box" angular2-auto-scroll="50">
                    <ul class="chat">
                        <div *ngFor="let m of activeConversation.messages">
                            <li *ngIf="m.sender_id == user._id" class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="{{m.user.image}}" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{m.user.alias}}</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{m.created_at | date: 'dd/MM/yyyy - HH:mm:ss'}}</small>
                                    </div>
                                    <div [innerHTML]="m.content"></div>
                                </div>
                            </li>
                            <li *ngIf="m.sender_id != user._id" class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="{{m.user.image}}" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{m.user.alias}}</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{m.created_at | date: 'dd/MM/yyyy - HH:mm:ss'}}</small>
                                    </div>
                                    <div [innerHTML]="m.content"></div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="action-box">
                    <form (ngSubmit)="onSubmit()">
                        <div class="input-group">
                            <input [(ngModel)]="message" name="message" type="text" class="form-control" placeholder="Escribe tu mensaje...">
                            <span class="input-group-btn">
                                <button *ngIf="activeConversation.type == 'user'" class="btn btn-default background-cyan content-white" type="submit">Enviar</button>
                                <button *ngIf="activeConversation.type == 'room'" class="btn btn-default background-blue content-white" type="submit">Enviar</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="selection-list">
                <div class="list-title">
                    <span class="count">{{starreds.length}}</span>
                    <div>
                        <h5>Favoritos</h5>
                    </div>
                    <a href="/chat#" (click)="openLists[0] = !openLists[0]">
                        <span *ngIf="!openLists[0]" class="fa fa-plus-square-o"></span>
                        <span *ngIf="openLists[0]" class="fa fa-minus-square-o"></span>
                    </a> 
                </div>
                <ul class="list">
                    <li class="list-item" *ngFor="let u_id of starreds" [style.display]="openLists[0] ? 'block' : 'none'" (click)="newConversation({type: 'user', user_id: u_id}, true)">
                        <img class="list-img" src="{{users[u_id]?.image}}" />
                        <div class="status-ball ball-{{chatUsers[u_id] ? chatUsers[u_id].status : 'disconnected'}}"></div>
                        <span class="list-name">{{users[u_id]?.alias}}</span>
                    </li>
                </ul>
                <div class="list-title">
                    <span class="count">{{chatRooms.length}}</span>
                    <div>
                        <h5>Salas</h5>
                    </div>
                    <a href="/chat#" (click)="openLists[1] = !openLists[1]">
                        <span *ngIf="!openLists[1]" class="fa fa-plus-square-o"></span>
                        <span *ngIf="openLists[1]" class="fa fa-minus-square-o"></span>
                    </a>  
                </div>
                <ul class="list">
                    <li class="list-item" *ngFor="let r of chatRooms" [style.display]="openLists[1] ? 'block' : 'none'" (click)="newConversation({type: 'room', room_id: r._id}, true)">
                        <img class="list-img" src="{{r.image}}" />
                        <div class="status-ball ball-blue">{{r.users.length}}</div>
                        <span class="list-name">{{r.name}}</span>
                    </li>
                    <li *ngIf="user?.perms?.createRooms > 0" class="list-item" [style.display]="openLists[1] ? 'block' : 'none'">
                        <img class="new-img" src="/images/plus_orange.png" />
                        <span class="list-name">Crear nueva</span>
                    </li>
                </ul>
                <div class="list-title">
                    <span class="count">{{chatUsersList.length}}</span>
                    <div>
                        <h5>Conectados</h5>
                    </div>
                    <a href="/chat#" (click)="openLists[2] = !openLists[2]">
                        <span *ngIf="!openLists[2]" class="fa fa-plus-square-o"></span>
                        <span *ngIf="openLists[2]" class="fa fa-minus-square-o"></span>
                    </a>  
                </div>
                <ul class="list">
                    <li class="list-item" *ngFor="let u_id of chatUsersList" [style.display]="openLists[2] ? 'block' : 'none'" (click)="newConversation({type: 'user', user_id: u_id}, true)">
                        <img class="list-img" src="{{users[u_id]?.image}}" />
                        <div class="status-ball ball-{{chatUsers[u_id]?.status}}"></div>
                        <span class="list-name">{{users[u_id]?.alias}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>