.conversations-list {
    width: 100%;
    height: 80px;
    text-align: center;
    overflow-y: auto;
}

.conversation-bubble {
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15%;
    overflow: hidden;
}

.conversation-bubble.active .cover{
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color: rgba(0,0,0,0);
  }
  50% {
    background-color: rgba(7,153,215,0.8);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: rgba(0,0,0,0);
  }
  50% {
    background-color: rgba(7,153,215,0.8);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}

.cover {
    position: relative;
    right: 0px;
    top: -84px;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0);
}

.conversation-bubble img {
    width: 60px;
    height: 60px;
}

.active-conversation {
    background-color: white;
    border: 1px solid #ccccca;
    height: calc(100% - 180px);
}

.active-conversation-header {
    border-bottom: 1px solid #ccccca;
    height: 63px;
    text-align: center;
}

.active-conversation-header h3 {
    margin: 0px;
    padding: 10px;
}

.header-actions {
    position: relative;
    top: -40px;
    left: 5px;
}

.header-closing {
    position: relative;
    top: -40px;
    right: 5px;
}

.fav-icon {
    cursor: pointer;
    color: #f0c514;
}

.fav-icon:hover {
    color: #f0c514;
}

.messages-box {
    height: calc(100% - 120px);
    border-bottom: 1px solid #ccccca;
    overflow-y: auto;
    margin-left: 15px;
}

.action-box {
    height: 60px;
    padding: 10px;
}

.selection-list {
    background-color: white;
    border: 1px solid #ccccca;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chat-list {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    width: 220px;
    height: calc(100% - 140px);
    margin: 20px;
    margin-top: 82px;
    background-color: white;
}

.lists {
    overflow-y: auto;
    height: 100%;
}

.list-title {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #EEE;
}

.list-title .count {
    text-align: left;
}

.list-title div {
    display: inline-block;
    width: calc(100% - 36px);
    text-align: center;
}

.list {
    padding-left: 0px;
    list-style-type: none;
    margin: 0px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #EEE;
}

.list-bottom {
    padding: 12px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.list-item {
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid #EEE;
    text-align: left;
}

.list-item:hover {
    background-color: #EEE;
}

.list-img {
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 15%;
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
}

.new-img {
    width: 24px;
    height: 24px;
    margin: 12px;
    border-radius: 15%;
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
}

.list-name {
    font-size: 12px;
}

.status-ball {
    position: relative;
    left: -25px;
    top: 15px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 10px;
    color: white;
    text-align: center;
}

.big-status-ball {
    position: relative;
    right: -14px;
    top: -26px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ball-blue {
    background-color: rgba(40, 129, 187, 1)
}

.ball-connected {
    background-color: rgba(0, 244, 44, 0.9);
}

.ball-navigating {
    background-color: rgba(244, 244, 44, 0.9);
}

.ball-navigating {
    background-color: rgba(255, 150, 44, 0.9);
}

.ball-bussy {
    background-color: rgba(255, 0, 0, 0.9);
}

.ball-disconnected {
    background-color: rgba(200, 200, 200, 0.9);
}

ul {
    padding-left: 0px;
}

small, .small {
  font-size: 85%;
}

.chat {
    list-style: none;
    margin: 0;
    text-align: left;
}

.chat-message{
    padding: 20px;
    height: calc(100% - 204px);
    overflow-y: auto;
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 15%;
  -moz-border-radius: 15%;
  -webkit-border-radius: 15%;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}