<div class="animagens-container">
    <img class="background-banner" src="images/background2.jpg" [@backgroundState]='in' />
    <div class="container" [@postState]='in'>
        <div class="row">
            <div class="post col-sm-12">
                
            </div>
        </div>
    </div>
</div>
    