<div class="animagens-container">
    <img class="background-banner" src="images/background5.jpg" [@backgroundState]='in' />
    <div class="container" [@postState]='in'>
        <div class="row">
            <div [hidden]="successful" class="post col-sm-12">
                <div class="post-header">
                    <h1>Entrar</h1>
                </div>
                <div class="post-body">
                    <div *ngIf="error" class="alert alert-{{error.type}}" role="alert">
                        <strong>¡Atención!</strong> {{error.msg}}
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="nickname">Nombre de usuario o Correo electrónico</label>
                                <input [(ngModel)]="model.nickname" name="nickname" type="text" class="form-control" required minlength="2" maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="password">Password</label>
                                <input [(ngModel)]="model.password" name="password" type="password" class="form-control" required minlength="5" maxlength="40">
                            </div>
                        </div>
                        <div>¿Aún no tienes cuenta? <a routerLink="/registro">¡Únete a Animagens!</a></div>
                        <!--<div>¿Has olvidado tu contraseña? <a href="/recuperacion">Recupera tu cuenta aquí.</a></div>-->
                        <div class="pull-right"><button [disabled]="" type="submit" class="btn btn-default background-blue content-white pull-right">¡Entra!</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="!submitted || successful" class="loading-img">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>
