.verification-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.verification-box {
    width: 70%;
    height: 60%;
    margin: 0 auto;
}

.verification-box img {
    width: 100%;
}