<div class="verification-container container">
    <div class="verification-box">
        <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
            <strong>¡Atención!</strong> {{error.msg}}
        </div>
        <div [hidden]="!successful">
            <img src="images/animagens.png"/>
            <h1>Verificación completada</h1>
            <p>Ya puedes <a routerLink="/entrar">loguearte</a> y empezar a disfrutar con nosotros.</p>
        </div>
    </div>
</div>